
@{
    ViewData["Title"] = "Error404";
}

<div class="text-center">

    <a asp-action="Index" asp-controller="Products">

        <img src="~/images/404-error-page.jpg" width="500" alt="Error 404" />
        <h1 class="alert alert-danger mt-1">ERROR 404!</h1>


    </a>


</div>


